import the proper library

In [1]:
import pandas as pd
import numpy as np

create a dataset

In [2]:
dataset = pd.DataFrame()

create a variable

In [3]:
dataset['x'] = np.random.random(100)

show the header of your data frame

In [4]:
dataset.head()

          x
0  0.010913
1  0.997073
2  0.603842
3  0.338186
4  0.095456

In [5]:
dataset['x'].values.shape

(100,)

show the tail of the dataset

In [6]:
dataset.tail()

           x
95  0.164172
96  0.239317
97  0.251997
98  0.644007
99  0.823075

create another variable

In [7]:
dataset['y'] = np.random.random(100)

In [8]:
dataset.head()

          x         y
0  0.010913  0.043798
1  0.997073  0.236064
2  0.603842  0.388703
3  0.338186  0.035171
4  0.095456  0.507081

make an operation on variables

In [9]:
dataset['z'] = dataset['x'] + np.log(dataset['y'])

In [10]:
dataset.head()

          x         y         z
0  0.010913  0.043798 -3.117246
1  0.997073  0.236064 -0.446578
2  0.603842  0.388703 -0.341099
3  0.338186  0.035171 -3.009341
4  0.095456  0.507081 -0.583629

Create sub data from the table

In [11]:
dataset.shape

(100, 3)

In [12]:
sub_data = dataset[['x','z']].values

In [13]:
dataset[['x','z']].head()

          x         z
0  0.010913 -3.117246
1  0.997073 -0.446578
2  0.603842 -0.341099
3  0.338186 -3.009341
4  0.095456 -0.583629

In [14]:
sub_data.shape

(100, 2)

In [15]:
last_column = dataset.values[:,-1]

Apply some selections on the numpy representation

In [16]:
selection = np.where( dataset.values[:,0] > 0.5)
values = dataset.values[selection]

In [17]:
values.shape

(52, 3)

Apply some selections using pandas functionality

In [18]:
dataset.loc[ (dataset['x']>0.5) | (dataset['y'] > 0.2)].head()

          x         y         z
1  0.997073  0.236064 -0.446578
2  0.603842  0.388703 -0.341099
4  0.095456  0.507081 -0.583629
5  0.708418  0.201301 -0.894535
6  0.496629  0.730546  0.182666

In [19]:
dataset.loc[ (dataset['x']>0.5) & (dataset['y'] > 0.2)].head()

          x         y         z
1  0.997073  0.236064 -0.446578
2  0.603842  0.388703 -0.341099
5  0.708418  0.201301 -0.894535
7  0.928590  0.927205  0.853009
9  0.698634  0.476765 -0.042097

Calculate percentile

In [20]:
bins = np.percentile(values, [20, 40, 60, 80])
bins

array([ 0.14562321,  0.47676538,  0.63018847,  0.79615248])

save it to disk

In [21]:
dataset.to_hdf('mydataset.hdf5','data')

reopen the dataset

In [22]:
store = pd.io.pytables.HDFStore('mydataset.hdf5')
newdataset = store['data']

In [23]:
newdataset.head()

          x         y         z
0  0.010913  0.043798 -3.117246
1  0.997073  0.236064 -0.446578
2  0.603842  0.388703 -0.341099
3  0.338186  0.035171 -3.009341
4  0.095456  0.507081 -0.583629

http://pandas.pydata.org/